
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: beige;
    background-attachment: fixed;
    margin: 0;
  }
  
  .form-box {
    background-color: white;
    padding: 30px 25px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color:darkmagenta;
  }
  
  input {
    width: 90%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  input:focus {
    border-color:  darkmagenta; 
    outline: none;
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.5); 
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: darkmagenta;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: darkorchid;
  }
  
  h1{
    color: darkmagenta;
  }